---
export interface Props {
  title: string;
  image?: {
    src: string;
    alt: string;
  };
  dataSeries?: string;
  dataSpeaker?: string;
  dataDate?: string;
  href?: string;
  className?: string;
  imageLayout?: 'top' | 'background';
}

const { title, image, href, className = "", imageLayout = 'top', dataSeries, dataSpeaker, dataDate} = Astro.props;
const Element = href ? "a" : "div";
---

<Element
  href={href}
  aria-label={href ? title : undefined}
  data-series={dataSeries}
  data-speaker={dataSpeaker}
  data-date={dataDate}
  class:list={[
    'card group overflow-hidden',
    { 'relative': imageLayout === 'background' },
    className
  ]}
>
  {image && (
    <div class:list={[
      'overflow-hidden',
      { 'absolute inset-0': imageLayout === 'background' }
    ]}>
      <img
        src={image.src}
        alt={image.alt}
        class:list={[
          "w-full object-cover object-center transition-transform duration-300 group-hover:scale-105",
          { 'h-full': imageLayout === 'background', 'h-auto': imageLayout === 'top' }
        ]}
      />
    </div>
  )}

  <div class:list={[
    'p-5',
    { 'relative': imageLayout === 'background' }
  ]}>
    <h3 class="mb-2 text-xl font-bold">{title}</h3>
    <div class="text-gray-700">
      <slot />
    </div>
  </div>
</Element>
